* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans";
}

body {
  background-color: var(--bg-color);
}

:root {
  --primary: #ff3b30;
  --bg-color: #f7f7f7;
  --grey-color-text: #999;
  --blur: #ff3b3099;
}
