.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside";
  grid-template-columns: auto 1fr;
}

.navigation {
  grid-area: nav;
  background-color: var(--bg-color);
}

.main {
  grid-area: main;
  background-color: var(--bg-color);
  padding-right: 4rem;
  height: 100vh;
  margin-left: 20rem;
}

.main h2 {
  margin-top: 3rem;
}

.aside {
  grid-area: aside;
  background-color: var(--bg-color);
}

.header {
  grid-area: header;
}

.message {
  text-align: center;
  margin-top: 2rem;
}
