.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside";
}

.navigation {
  grid-area: nav;
  background-color: var(--bg-color);
}

.main {
  grid-area: main;
  background-color: var(--bg-color);
  padding-right: 4rem;
  height: 100vh;
  padding-top: 2rem;
}

.aside {
  grid-area: aside;
  background-color: var(--bg-color);
}

.header {
  grid-area: header;
}
