.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading {
  color: var(--primary);
}

.link {
  margin: 0;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background-color: var(--primary);
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
