.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside";
    grid-template-columns: auto 1fr auto;  
}

.navigation {
  grid-area: nav;
  background-color: var(--bg-color);
}

.main {
  grid-area: main;
  background-color: var(--bg-color);
  padding-right: 4rem;
  margin-left: 20rem;
}

.aside {
  grid-area: aside;
  background-color: var(--bg-color);
}

.header {
  grid-area: header;
}
