.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside";
    grid-template-columns: auto 1fr auto;  
}

.navigation {
  grid-area: nav;
}

.main {
  grid-area: main;
  padding-right: 4rem;
  margin-left: 20rem;
}

.aside {
  grid-area: aside;
}

.header {
  grid-area: header;
}


@media (max-width: 1024px){
  .aside {
    display: none;
  }
}

@media (max-width: 768px){
  .main{
    padding: 1rem;
    margin:0;
  }
}
