.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.login {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 2rem 4rem;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

.heading span {
  color: var(--primary);
}

.login h3 {
  align-self: center;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.login-label {
  margin-bottom: 4px;
  font-size: 1rem;
}

.login-input {
  margin-bottom: 16px;
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
}

.link-primary {
  background-color: var(--primary);
  color: var(--seconday);
  display: block;
  padding: 1rem;
  text-decoration: none;
  width: 100%;
}

.login-button {
  border: none;
  margin: 1rem 0;
}

.message {
  font-size: 1rem;
  align-self: center;
  margin: 8px 0;
  color: var(--primary);
  text-decoration: none;
}
