.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 2rem 4rem;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.heading span {
  color: var(--primary);
}

.login h3 {
  align-self: center;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.login-label {
  margin-bottom: 4px;
  font-size: 1rem;
}

.login-input {
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
}

.password-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding-right: 0.5rem;
}

.password-input {
  border: none;
}

.login-input:focus {
  outline: none;
}

.link-primary {
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--seconday);
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin: 0;
  border: none;
}

.message {
  font-size: 1rem;
  align-self: center;
  margin: 8px 0;
  color: var(--primary);
  text-decoration: none;
}

.input-container {
  margin-bottom: 1rem;
  width: 100%;
}

.errorMsg {
  color: rgb(177, 2, 2);
  font-size: 0.7rem;
  display: none;
}

/* this will only work when required is specified in input field */
/* this checks if input is invalid and selectedFieldValue is true then show error. HTML checks for pattern attribute for condition to satisfy */
.login-input:invalid[selectedFieldValue="true"] ~ .errorMsg {
  display: block;
}

.password-field:has(.password-input:invalid[selectedfieldValue="true"])
  ~ .errorMsg {
  display: block;
}

@media (max-width: 768px) {
  .login {
    padding: 2rem;
    width: 90%;
  }

  .main {
    min-height: 80vh;
    margin-top: 2rem;
  }
}
