.nav-bar {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  padding: 2rem 4rem 0 6rem;
  text-align: left;
  position: fixed;
}

.nav-link {
  text-decoration: none;
  padding-bottom: 1rem;
  color: black;
  width: 12rem;
}

.logout-btn {
  background-color: var(--primary);
  color: white;
  text-align: center;
  padding: 0.5rem;
}

i {
  margin-right: 0.5rem;
}
